<% provide(:title, "Finished CS 232 Ruby on Rails Development") %>
<h1>Finished the Course!</h1>
<p>I enjoyed this course quite a lot, despite the frequent bumps in the ride.  
My previous programming experience in Java, Python, Ruby, JS, and so forth did
little to prepare me for Rails.  In all previous classes, debugging was possible
because I understood all of the code I'd written and was working with.  In contrast,
working with Rails was extremely frustrating at times, because I had no idea what 
the code was doing "under the hood" and how all of the pieces of the puzzle fit together, 
so resolving my typos, mis-pastes, and tiny bugs became a tall order.
Using Ruby compounded the problem because it's quite an automagical <i>(I learned that word 
in this course!)</i> language to begin with, so the level of abstraction is high.  Symbols 
in place of Strings and the author's insistence in omitting parenthesis on method calls 
exacerbated the problem.  In other words, I was used to working as a "scribe", but struggled to 
"conjure" in Rails, even if the material was spoon fed by the tutorial.</p>
<p>Having said that, I feel that the benefit of this class was exactly that it forced me to dive 
into the important programming paradigm of using APIs which I would probably have quickly
given up on if pressed to self-teach.  As a result, in facing one of my shortcomings as 
a programmer, I feel that I gained confidence in my general ability to learn an API and deal 
better with the unique set of frustrations and obstacles that entails.</p>
<p>Thinking in terms of Rails itself, I feel that I haven't yet achieved a skill level to where 
I could hammer out a full-feautred website, but I feel that with some additional practice,
I will create some simple websites and keep the skill set fresh.  Going forward, I am curious to 
experiment with lighter-weight frameworks that may be more suitable for my development level,  
language preferences, and application goals, such as Flask.  But I'm sure that knowledge of the Rails philosophy will 
help me get a handle on a variety of web frameworks.</p>
<p>In closing, I'd like to thank my classmates and Prof. Putnam for calm and helpful 
assistance with problems.  I wish I could have corresponded or collaborated more with classmates, 
which may have kept motivation up and fostered greater understanding of the framework, but I 
understood that simply finishing each chapter a week was often enough challenge, especially in the weeks
when bugs began to get the better of me.  I enjoyed the consistency of the steps and satisfaction of 
having made it through the tutorial.  Thanks for the class!</p>
